/**
 * Btn Block (Responsive)
 */
.btn-xs-block {
  @media (max-width: $screen-xs-max) {
    display: block;
    width: 100%;
  }
}

.btn-sm-block {
  @media (max-width: $screen-sm-max) {
    display: block;
    width: 100%;
  }
}